@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&family=Stick&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    background:linear-gradient(68.15deg, #586a75, 16.62%, #b5c9d5 85.61%);
}

.cabecalho{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 28px;
}

.logo{
    color: #fff;
}

.navegacao{
    display: flex;
    gap: 30px;
}

.navegacao-item{
    font-family: 'sarala', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.navegacao-item:hover{
    color: #837d7d;
}

.conteudo{
    padding-top: 20px;
    margin-bottom: 58px;
    border-top:1px solid #fff;
}

.conteudo-principal{
    min-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo{
    font-family: 'Rightrous' cursive;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.conteudo-principal-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.conteudo-principal-butao{
    width: 90px;
    border: none; 
    border-radius: 20px;
    height: 20px;
    color: #000;
    background: rgb(147, 230, 255);
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
}

.conteudo-secundario-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-family: 'sarala' ;
    color: #fff;
}

.titulo{
    color: rgb(1, 42, 66);
    font-size: 18px;
}

.rodape-1{
    display: block;
    margin: 0 auto;
}